@model AspNetMvcBlogv2.Persistence.Entity.Page

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="lg-title">@Model.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/images/about.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                       <p>
                         @Model.Content
                       </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>